{% extends 'home/dashboardbase.html' %}
{% block content %}
<div class="col-md-9" style="background-color:white;padding: 10px; ">
	<h4>Your Patients</h4>
	
	<div class="col-md-12" align="center">
	<form method="POST">
		{% csrf_token %}
		<input type="text" class="form-control" name="patient" placeholder="Patient Name or Phone" style="width: 40%;display: inline-block;">

		<input type="submit" name="submit" value="Search" style="padding: 6px;background-color: #3d8079;color: white;border:none; ">
	</form>
	{% if name %}
		<p>Searched '{{name}}'</p>
	{% endif %}
	</div>
	<div style="overflow-x: scroll;">  
<table class="table table-striped" style="margin-top: 30px;">
  <thead>
    <tr style="background-color: #3d8079;color: white; ">
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Appointment Date</th>
    </tr>
  </thead>
  <tbody>
  	{% if docpatientq %}
		{% if docpatientq|length >= 1 %}

			{% for item in docpatientq %}
		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td>{{item.name}}</td>
		      <td>{{item.phone}}</td>
		      <td>{{item.appointment_date}}</td>
		    </tr>
		    {% endfor %}
		{% endif %}
	
	{% elif searched_patient %}
		{% if searched_patient|length >= 1 %}

			{% for item in searched_patient %}
		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td>{{item.name}}</td>
		      <td>{{item.phone}}</td>
		      <td>{{item.appointment_date}}</td>
		    </tr>
		    {% endfor %}

		{% endif %}
			{%else%}
	<tr align="center">
		<td colspan="8">No data available </td>
	</tr>
	{% endif %}
  </tbody>
</table>
</div>

	
</div>




{% endblock %}