@charset "utf-8";
.footer-main {
    width: 102.5%;
    margin-left: -14px
}

.black2-bg {
    background-color: #232525;
    padding: 15px 0 10px 30px;
    margin: -1px 0 0;
    width: 100%
}

.black2-bg h2 {
    color: #fff;
    text-transform: uppercase
}

.black2-bg p {
    color: #fff
}

.footer-tooltip {
    padding-top: 35px
}

.tooltip-bottom i {
    color: #fff;
    font-size: 48px
}

.footer-image-for-mobile {
    margin-bottom: -49px
}

.site-footer {
    background: #222;
    padding: 25px 0
}

.copyrihts {
    float: left;
    color: #fff;
    font-family: roboto, sans-serif;
    font-size: 15px;
    padding-top: 5px
}

.copyrihts a {
    color: #ff9e15
}

.footer-socila-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right
}

.footer-socila-icons li {
    display: inline-block;
    margin-right: 7px
}

.back-to-top {
    bottom: 40px;
    display: none !important;
    height: auto;
    margin: 0;
    opacity: 1;
    position: fixed;
    right: 20px;
    transition: opacity .3s ease-in-out 0s;
    width: 34px;
    z-index: 10000
}

.back-to-top>img {
    height: auto;
    width: 30px
}

.back-to-top:focus {
    outline: none
}