@charset "utf-8";
.logo {
    position: absolute;
    z-index: 999;
    left: 38% !important;
    width: 380px !important;
    height: 160px !important
}

.mobile-logo {
    display: none;
    width: 100px;
    height: 80px
}

.sepration-nav-for-mobile {
    display: none
}

.inner-header {
    background-color: #ededed;
    padding: 10px 0 0
}

.inner-pages-border {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: none
}

.form-vertical {}

.form-vertical i {
    position: absolute;
    top: 0;
    left: 0
}

.form-vertical input[type=text],
.form-vertical select {
    height: 40px;
    padding: 0 10px 0 30px;
    width: 180px;
    float: left;
    border: 2px solid #00c7ce;
    outline: none;
    background-color: #f2f2f2;
    color: #000;
    font-family: raleway, sans-serif
}

.header-form::-webkit-input-placeholder {
    color: #000;
    font-family: raleway, sans-serif;
    font-weight: 700
}

.header-form:-moz-placeholder {
    color: #000;
    font-family: raleway, sans-serif;
    font-weight: 700
}

.header-form::-moz-placeholder {
    color: #000;
    font-family: raleway, sans-serif;
    font-weight: 700
}

.header-form:-ms-input-placeholder {
    color: #000;
    font-family: raleway, sans-serif;
    font-weight: 700
}

.first-field {
    border-right: none !important
}

.last-field {
    border-left: none !important
}

.form-group {
    position: relative
}

.header-first-form-icon {
    top: 9px !important;
    left: 6px !important;
    position: absolute !important
}

.header-second-form-icon {
    top: 9px !important;
    left: 190px !important;
    position: absolute !important
}

.header-third-form-icon {
    top: 9px !important;
    left: 365px !important;
    position: absolute !important
}

.header-forth-form-icon {
    top: 9px !important;
    left: 555px !important;
    position: absolute !important;
    cursor: pointer;
    color: #fff
}

.form-vertical input[type=submit] {
    height: 40px;
    width: 50px;
    font-family: raleway, sans-serif;
    border: none;
    outline: none;
    background-color: #00c7ce
}

.inner-header-menu {
    list-style-type: none;
    margin-top: 20px
}

.inner-header-menu li {
    display: inline-block;
    float: left
}

.signup,
.login {
    background-color: #dcdcdc;
    padding: 10px;
    color: #000;
    font-family: raleway, sans-serif;
    font-weight: 700
}

.signup {
    border-right: 1px solid #cfcfcf
}

.signup:hover,
.login:hover {
    text-decoration: none;
    color: #fff;
    background-color: #f7505e
}

.for-doctor {
    margin-left: 10px;
    font-family: raleway, sans-serif;
    color: #f7505e
}

.for-doctor:hover {
    text-decoration: underline;
    color: #f7505e
}

.signup-form-fields {
    padding: 0 10px 0 35px;
    border: 1px solid #00c8cf
}

.iconstyle {
    position: absolute;
    top: 35px;
    left: 24px
}

.iconstyle2 {
    position: absolute;
    top: 35px;
    left: 10px
}

.facebook-login {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    background-color: #0d76bd;
    background-image: -webkit-linear-gradient(top, #0d76bd, #0d63ab);
    background-image: linear-gradient(to bottom, #0d76bd, #0d63ab);
    border: 1px solid #00549f;
    box-shadow: 0 0 5px rgba(0, 0, 0, .23);
    text-decoration: none;
    position: relative
}

.facebook-login[disabled] {
    background-image: linear-gradient(to bottom, #4d93c1, #4c82af)
}

.facebook-login strong {
    color: #fff;
    display: block;
    text-align: center
}

.facebook-login:hover {
    text-decoration: none;
    color: #fff
}

.login-or.text-center {
    margin-bottom: 0;
    margin-top: 10px;
    color: #626262;
    font-size: 18px
}

.facebook-login span {
    border-right: 1px solid #00549f;
    float: left;
    height: 37px;
    width: 40px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center
}

.facebook-login span i {
    color: #fff;
    font-size: 24px
}

.google-login {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    font-family: raleway, sans-serif;
    border: 1px solid #ccc
}

.google-login:hover {
    text-decoration: none;
    color: #000
}

.login-button {
    width: 100%;
    height: 45px;
    display: block;
    background-color: #f8525f;
    text-align: center;
    line-height: 28px;
    color: #fff;
    margin-top: 2px;
    border: 1px solid #f8525f;
    font-family: raleway, sans-serif;
    outline: none
}

.popup-footer {
    background-color: #ccc;
    width: 99.4%;
    height: 50px;
    bottom: 1px;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 1px
}

.popup-footer p {
    font-family: raleway, sans-serif;
    line-height: 50px
}