@charset "utf-8";
.jumbotron h1 em,
.wwo em,
.blog-heading em {
    color: #f8525f;
    font-style: normal
}

.wwo i {
    font-size: 64px;
    color: #00c8cf;
    float: left
}

.wwo h4 {
    float: left
}

.form-fields {
    position: relative
}

.form-fields i {
    position: absolute;
    top: 4px;
    font-size: 23px;
    left: 25px;
    color: #666
}

.form-button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #ff9e15;
    background-color: #ff9e15;
    color: #fff;
    text-align: left;
    padding-left: 50px
}

.button-icon {
    color: #fff !important
}

.media-heading {
    font-size: 18px;
    margin-top: 25px
}

.services-wrap {
    border-right: 2px solid #ccc;
    margin-bottom: 50px
}

.services-wrap-last {
    border: none
}

.black-bg {
    background-color: #000;
    padding: 0;
    margin: 0
}

.black2-bg {
    background-color: #232525;
    padding: 15px 0 30px;
    margin: -1px 0 0
}

.black2-bg h2 {
    color: #fff;
    text-transform: uppercase
}

.black2-bg p {
    color: #fff
}

.app-heading {
    padding: 50px 30px
}

.app-heading h1 {
    color: #fff;
    margin-bottom: 60px
}

.app-heading p {
    color: #fff;
    margin-bottom: 20px
}

.app-heading ul {
    list-style-type: none
}

.app-heading ul li {
    color: #fff
}

.app-heading ul li:before {
    content: "-";
    margin-right: 10px
}

.blog-tabs li {
    width: 20%
}

.new {
    width: 55%;
    margin-right: 15px
}

.blog-head {
    font-family: roboto, sans-serif;
    margin: 0 0 10px;
    padding: 0;
    font-weight: 700
}

.blog-text {
    line-height: 22px;
    font-family: roboto, sans-serif;
    text-align: justify
}

.blog-img-big {
    width: 60%;
    margin-right: 15px
}

.blog-img-small {
    margin-bottom: 10px
}

.small-blog-head {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px
}

.search-page-left {
    padding: 20px 20px 500em;
    margin-bottom: -500em
}

#advance-search-doctor {
    margin-bottom: 10px
}

.appointment,
.location,
.availability,
.consulation,
.time {
    position: relative
}

.location,
.availability,
.consulation,
.time {
    margin-top: 16px
}

.appointment i,
.location i,
.availability i,
.consulation i,
.time i {
    position: absolute;
    top: 7px;
    color: #00c7ce
}

.city h4 {
    position: relative
}

.city i {
    color: #00c7ce;
    position: absolute
}

.search-checkbox {
    display: none
}

.search-checkbox+label {
    color: #4d5152;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 300
}

.search-checkbox+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check_radio_sheet.png) left top no-repeat;
    cursor: pointer
}

.search-checkbox:checked+label span {
    background: url(../images/check_radio_sheet.png) -19px top no-repeat
}

.search-page-right {
    padding: 30px 0 30px 10px
}

@media(max-width:768px) {
    .search-page-right {
        padding: 30px 0
    }
}

.search-page-right p {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 100
}

.pagination-links {
    text-align: right
}

.search-page-right-result {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    padding-top: 10px;
    margin-bottom: 15px;
    border-radius: 4px
}

@media(min-width:768px) {
    .search-page-right-result {
        padding-bottom: 16px
    }
}

.search-page-right-result img {
    display: block;
    max-width: 100%;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    object-fit: cover
}

@media(max-width:540px) {
    .search-page-right-result img {
        width: 120px;
        height: auto
    }
}

.time-space {
    padding-left: 44px
}

.locationimg {
    width: 50px !important;
    height: 50px !important;
    border-radius: 0 !important;
    margin-top: -10px !important
}

.doctor-name {
    margin-top: 10px;
    font-size: 18px;
    font-family: roboto, sans-serif;
    color: #006;
    font-weight: 700;
    text-transform: capitalize
}

.doctor-name a {
    font-size: 26px;
    font-family: roboto, sans-serif;
    color: #0acad1;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize
}

.search-result-right {
    list-style-type: none;
    padding: 15px 10px;
    margin-bottom: 0
}

.search-result-right i {
    font-size: 20px;
    margin-right: 5px
}

.search-result-right>li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px
}

.search-result-right>li>i {
    position: absolute;
    left: 0;
    top: 0
}

.doc-info-span {
    display: inline-block;
    margin-top: 4px;
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #707070
}

.first-search-link {
    width: 20%;
    height: 50px;
    display: inline-block;
    background-color: #eb4fb2;
    color: #fff;
    line-height: 50px;
    font-size: 32px;
    float: left;
    margin-right: 5px
}

.first-search-link:hover {
    color: #fff
}

.second-search-link {
    width: 70%;
    height: 50px;
    display: inline-block;
    background-color: #95509c;
    color: #fff;
    line-height: 50px;
    font-family: roboto, sans-serif;
    font-size: 16px
}

.second-search-link:hover {
    text-decoration: none;
    color: #fff
}

.availability-checkboxes {
    border: 2px solid #00c7ce;
    padding: 0;
    margin: 0;
    width: 200px
}

.availability-checkboxes input {
    display: none
}

.availability-checkboxes input+label {
    color: #333;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 100
}

.first-span {
    background-color: #ccc;
    width: 32px !important
}

.availability-checkboxes input+label span {
    display: inline-block;
    width: 23.5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: -5px !important;
    margin-right: -5px !important
}

.availability-checkboxes input:checked+label span {
    background: #00c7ce;
    color: #000
}

#slider-range {
    width: 200px;
    background: #b6b6b6;
    border: none;
    height: 3px;
    margin-left: 0 !important
}

#slider-range,
#time {
    margin: 10px;
    display: block
}

#time {
    font-size: 18px;
    font-family: roboto, sans-serif
}

.search-app-portion h3 {
    font-size: 22px;
    font-family: roboto, sans-serif
}

.dd_banner {
    height: 311px
}

.doctor-profile-photo {
    width: 210px !important;
    height: 210px;
    border-radius: 50%/20%;
    margin: -100px 0 0 45px;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px #ccc;
    padding-left: 0 !important;
    padding-right: 0 !important
}

.img-css-profile {
    max-width: 220px
}

.doctor-profile-name h6 {
    font-family: roboto, sans-serif;
    font-size: 14px
}

.doctor-profile-appointment {
    height: 150px
}

.doctor-profile-appointment a {
    width: 320px;
    height: 80px;
    display: block;
    background-color: #96519e;
    color: #fff;
    font-weight: 700;
    font-family: roboto, sans-serif;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    line-height: 80px;
    margin-top: -30px;
    margin-right: 20px;
    text-decoration: none
}

.doctor-profile-appointment h6 {
    font-family: roboto, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 15%
}

.edit-share-profile a {
    text-decoration: none
}

.edit-share-profile a:hover {
    color: #fff
}

.doctor-edit-link {
    background-color: #96519e
}

.doctor-share-link {
    background-color: #c8c8c8;
    font-style: italic;
    margin-left: 80px !important
}

.doctor-edit-link,
.doctor-share-link {
    width: 115px;
    height: 40px;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
    line-height: 40px;
    color: #fff
}

.share-profile-icon i {
    font-size: 14px;
    color: #fff
}

.doctor-profile-like {
    margin-top: -28px
}

.doctor-profile-like-top {
    border-bottom: 2px solid #ccc;
    padding-bottom: 7px
}

.doctor-profile-like-top-left {
    float: left;
    padding-top: 10px
}

.doctor-profile-like-top-left p {
    float: left;
    font-family: roboto, sans-serif;
    font-size: 20px;
    margin: 5px 10px 0 0
}

.doctor-profile-like-top-left i {
    font-size: 24px;
    color: #eb4eb1
}

.doctor-profile-like-top-right {
    float: right;
    padding-right: 40px
}

.doctor-profile-like-top-right p {
    font-family: roboto, sans-serif;
    font-size: 20px;
    margin: 11px 0 0;
    float: right
}

.doctor-profile-like-top-right i {
    font-size: 32px;
    color: #eb4eb1;
    float: right
}

.doctor-profile-recommendation {
    float: left;
    margin: 4px 0 0
}

.doctor-profile-recommendation i,
.doctor-profile-experience i {
    color: #00c7ce;
    float: left;
    font-size: 24px;
    margin-top: 4px
}

.doctor-profile-recommendation span {
    color: #4a4a4a;
    float: left;
    font-family: roboto, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0
}

.doctor-profile-experience span {
    color: #4a4a4a;
    float: left;
    font-family: roboto, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 4px 0 0
}

.doctor-profile-views span {
    color: #4a4a4a;
    float: left;
    font-family: roboto, sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    margin-top: 3px
}

.doctor-profile-recommendation p {
    font-family: roboto, sans-serif;
    font-size: 12px;
    float: left;
    color: #4a4a4a;
    margin: 13px 0 0 5px
}

.doctor-profile-experience p {
    color: #4a4a4a;
    float: left;
    font-family: roboto, sans-serif;
    font-size: 12px;
    margin: 13px 0 0 5px
}

.doctor-profile-views p {
    color: #4a4a4a;
    float: left;
    font-family: roboto, sans-serif;
    font-size: 12px;
    margin: 13px 0 0 5px
}

.doctor-profile-experience {
    float: left;
    margin: 0
}

.doctor-profile-experience i {
    color: #00c7ce;
    float: left;
    font-size: 28px;
    margin-top: 6px
}

.doctor-profile-views {
    float: left
}

.doctor-profile-views i {
    color: #00c7ce;
    float: left;
    font-size: 28px;
    margin-top: 3px
}

.doctor-profile-section {
    width: 100%;
    margin: 10px 0
}

.doctor-profile-tabs {
    width: 100%
}

#sticky.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top: 0;
    width: 1055px
}

.doctor-profile-tabs a {
    width: 16.66%;
    float: left;
    text-align: center;
    padding: 8px 15px;
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 16px;
    font-family: roboto, sans-serif;
    text-decoration: none;
    background: #f7f7f7;
    border-right: 1px solid #fff
}

.doctor-profile-tabs-a-last {
    border-right: none !important
}

.doctor-profile-tabs a:hover {
    background-color: #f8525f;
    color: #fff
}

.dprofile-about,
.profile-education,
.dprofile-clinics,
.profile-specialization,
.dprofile-map,
.profile-services,
.dprofile-timings,
.profile-experience,
.profile-others,
.profile-memberships,
.service-section {
    width: 100%;
    position: relative
}

.profile-about h2,
.dprofile-about h2,
.profile-education h2,
.dprofile-clinics h2,
.profile-specialization h2,
.dprofile-map h2,
.profile-services h2,
.dprofile-timings h2,
.profile-experience h2,
.dprofile-doctors h2,
.profile-others h2,
.profile-memberships h2,
.profile-practice-location h2,
.similar-doctor h2,
.location-detail-wrapper h2,
.doctor-reviews-holder h2,
.teams-holder h2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: roboto, sans-serif;
    color: #282828;
    font-weight: 400;
    background-repeat: no-repeat;
    text-transform: capitalize
}

.profile-about i {
    font-size: 36px;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.profile-about p,
.dprofile-about p {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    line-height: 25px;
    padding: 0 10px 15px 46px;
    margin-top: 10px
}

.profile-about p {
    padding-bottom: 0
}

.profile-education ul,
.dprofile-map ul,
.dprofile-timings ul,
.profile-memberships ul {}

.profile-education li,
.dprofile-map li,
.dprofile-timings li {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    display: table-row;
    height: auto
}

.profile-education .defaultShowEducation ul li {
    list-style-type: none;
    float: left;
    margin-bottom: 5px !important;
    padding-left: 32px;
    width: 50%
}

.profile-service-item {
    float: left;
    padding-left: 14px
}

@media(max-width:768px) {
    .profile-service-item {
        float: none
    }
}

.profile-specialization-item {
    padding-left: 14px
}

.defaultShowEducation ul li {
    float: left;
    margin-bottom: 10px !important;
    padding-left: 30px
}

.show-services ul li {
    float: left;
    margin-bottom: 5px !important;
    padding-left: 30px;
    width: 33.33%
}

.profile-education i {
    font-size: 28px;
    width: 32px;
    margin-right: 7px;
    margin-left: 7px
}

.profile-memberships li {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    display: table-row;
    height: 26px
}

.dprofile-map li:before,
.dprofile-timings li:before {
    content: url(../images/list-style-type.png);
    padding: 0 40px 0 0;
    display: table-cell
}

.profile-memberships li:before {
    padding-right: 20px !important
}

.profile-specialization h2 em {
    font-size: 15px;
    font-family: roboto, sans-serif;
    color: #000;
    position: absolute;
    top: 57px
}

.profile-specialization ul,
.dprofile-clinics ul,
.profile-education ul {
    list-style: none
}

.profile-specialization ul {
    margin-left: 48px
}

.profile-specialization li,
.dprofile-clinics li {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    height: auto
}

.profile-specialization i {
    font-size: 29px;
    margin-top: 0;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    width: 32px
}

.profile-services-list,
.profile-experience-list,
.profile-others-list,
.profile-others-list {
    width: 100%;
    margin: 0
}

.profile-memberships {
    border-bottom: 0
}

.profile-services a {
    font-family: roboto, sans-serif;
    font-size: 15px
}

.profile-services-data h2 {
    font-size: 24px;
    font-family: roboto, sans-serif;
    color: #96519e;
    background-repeat: no-repeat;
    float: none;
    background-image: url(../images/list-style-type.png);
    background-position: 20px center;
    padding: 8px 0 15px 68px;
    margin: 0;
    text-transform: uppercase
}

.profile-services-data p,
.profile-experience-data p,
.profile-others-data p {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #4a4a4a;
    font-weight: 400;
    line-height: 25px;
    padding-left: 14px
}

.profile-others-data p {
    padding-left: 32px
}

.target-service-div {
    display: none
}

.profile-services i {
    font-size: 31px;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.hospital-doctors i {
    font-size: 36px;
    color: #02c9d0;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.hospital-doctors h2 {
    color: #000;
    font-family: roboto, sans-serif;
    font-size: 23px;
    padding-top: 5px
}

.our-doc h2 i {
    font-size: 36px;
    width: 32px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -5px
}

.news-heading i {
    font-size: 29px;
    color: #02c9d0;
    margin-right: 10px;
    margin-top: -5px
}

.news-heading h2 {
    background-repeat: no-repeat;
    color: #282828;
    font-family: roboto, sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 5px;
    text-transform: capitalize
}

ul.news-outer {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 35px;
    padding-right: 35px
}

.news-title h3 {
    font-size: 18px;
    margin-bottom: 11px !important
}

ul.news-outer li {
    text-align: left
}

.news-actions {
    position: absolute;
    right: 10px;
    top: 0
}

.add-news-form {
    display: none
}

.deflt-servcie-list .checkbox {
    margin-bottom: 8px;
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    color: #4a4a4a
}

.save-typl-facilities {
    background-color: #02c9d0;
    border: medium;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: medium
}

.check-new-services {
    padding-left: 45px;
    padding-right: 20px
}

.check-new-services>h3 {
    font-size: 22px
}

.save-facility-button-outer {
    margin-top: 20px;
    text-align: right
}

.similar-doc-col {
    margin-bottom: 12px
}

.profile-experience-data h2 {
    font-size: 14px;
    font-family: roboto, sans-serif;
    float: none;
    padding-left: 14px;
    margin: 0;
    text-transform: capitalize
}

.profile-others i {
    font-size: 36px;
    color: #02c9d0;
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.profile-memberships p {
    padding-left: 14px
}

.profile-memberships i {
    font-size: 30px;
    color: #02c9d0;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.profile-practice-location h2 {
    font-size: 23px;
    font-family: roboto, sans-serif
}

.profile-practice-location h2 em {
    font-size: 20px;
    font-family: roboto, sans-serif;
    color: #000;
    position: absolute
}

.profile-practice-location-data {
    width: 100%;
    margin: 60px 0 0
}

.profile-practice-location-data-left {
    float: left;
    border-right: 1px solid #afafaf
}

.profile-practice-location-data-left-left {
    height: auto;
    float: left
}

.profile-practice-location i {
    font-size: 36px;
    color: #02c9d0;
    float: left;
    margin-right: 7px;
    margin-left: 7px
}

.profile-practice-location-data-left-left h2 a {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 700;
    font-size: 24px;
    font-family: roboto, sans-serif;
    color: #000;
    height: 56px;
    padding: 11px 0 0 59px;
    font-style: italic;
    background-repeat: no-repeat
}

.profile-practice-location-data-left-left h2 em {
    font-size: 22px;
    font-family: roboto, sans-serif;
    color: #000;
    position: relative;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 400
}

.profile-practice-location-data-left-left p {
    font-size: 18px;
    font-family: roboto, sans-serif;
    color: #000;
    padding: 8px 60px 10px
}

.profile-practice-location-data-left-left a {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #00c8cf;
    padding: 0 0 0 60px
}

.profile-practice-location-data-left-right {
    height: auto
}

.profile-practice-location-data-left-right img {
    float: left
}

.time-right {
    float: left;
    margin: 8px 0 0
}

.time-right p {
    font-size: 22px;
    font-family: roboto, sans-serif;
    color: #000
}

.time-right p {
    font-size: 20px;
    font-family: roboto, sans-serif;
    color: #000
}

.time-right a {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #00c8cf
}

.profile-practice-location-data-right a {
    text-decoration: none
}

.profile-practice-location-data-right a:hover {
    color: #fff
}

.profile-practice-location-data-right img {
    width: 30%;
    margin: 0 0 20px 1%
}

.icon-link {
    height: 50px;
    display: block;
    float: left;
    background-color: #eb4fb2;
    line-height: 30px;
    margin-right: 5px
}

.icon-link i {
    color: #fff;
    text-align: center;
    margin-left: 5px
}

.icon-link-text {
    font-size: 17px;
    font-family: roboto, sans-serif;
    text-align: center;
    width: 72%;
    height: 50px;
    background-color: #96519e;
    text-transform: uppercase;
    line-height: 58px;
    display: block;
    color: #fff;
    float: left
}

.similar-doctor h2 em {
    font-size: 22px;
    font-family: roboto, sans-serif;
    color: #000;
    font-weight: 400
}

.similar-doctor h2 i {
    font-size: 36px;
    color: #02c9d0;
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    width: 32px
}

.hospital-doctor-list {
    width: 100%;
    margin: 20px 0 50px;
    border-top: 1px solid #eee
}

.hospital-doctor-data {
    height: 500px;
    width: 290px;
    float: left;
    border-right: 1px solid #afafaf
}

.similar-doctor-data {
    text-align: center
}

.appdname {
    font-size: 23px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-top: 0;
    margin-top: 10px
}

.appdadd {
    font-size: 20px;
    font-family: roboto, sans-serif;
    padding-top: 0;
    margin-top: 0
}

.appdtime {
    font-size: 20px;
    font-family: roboto, sans-serif;
    padding-top: 0;
    margin-top: 10px
}

.applimg {
    width: 120px;
    height: 80px
}

.doc-name-hd h3 {
    font-size: 23px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 30px 0 5px -15px
}

.doc-name-sub h1 {
    font-size: 20px !important;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 0 0 40px;
    margin: 0;
    text-align: left;
    display: table-cell
}

.searchdocname {
    font-size: 20px !important;
    font-family: roboto, sans-serif !important;
    font-weight: 700 !important;
    color: #000 !important
}

.searchdocname h3 {
    margin-top: 46px !important
}

.searchdocedu,
.searchdocexp {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #707070 !important;
    padding: 0
}

.searchdocspc {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #707070
}

.similar-doctor-data h2 {
    text-transform: capitalize !important;
    font-family: roboto, sans-serif
}

.similar-doctor-data h3 {
    text-transform: capitalize !important;
    font-family: roboto, sans-serif;
    margin-top: 0 !important;
    text-align: left
}

.search-doc-dp,
.similar-doctor-data img,
.hospital-doctor-data img {
    mask: url(#doc-image-mask) luminance;
    mask: url("../images/frame-circle.svg") center/contain no-repeat;
    -webkit-mask: url("../images/frame-circle.svg") center/contain no-repeat;
    -moz-mask: url("../images/frame-circle.svg") center/contain no-repeat;
    max-width: 100%;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    object-fit: cover
}

@media(max-width:480px) {
    .search-doc-dp,
    .similar-doctor-data img,
    .hospital-doctor-data img {
        height: auto
    }
}

@-moz-document url-prefix() {
    .similar-doctor-data img,
    .hospital-doctor-data img {
        border-radius: 37%/70%
    }
}

.similar-doctor-data h2,
.hospital-doctor-data h2 {
    font-size: 15px;
    font-family: roboto, sans-serif;
    color: #006;
    background-image: none;
    padding: 0;
    font-weight: 700;
    text-align: center;
    text-align: center;
    margin-bottom: 10px !important
}

.similar-doctor-data h3,
.hospital-doctor-data h3 {
    font-size: 14px;
    font-family: roboto, sans-serif;
    color: #868e96;
    padding: 0 0 0 51px
}

.similar-doctor-data h3 {
    margin-bottom: 8px !important;
    padding-left: 0;
    text-align: center
}

.similar-doctor-data p,
.hospital-doctor-data p {
    font-size: 16px;
    font-family: roboto, sans-serif;
    color: #000;
    padding: 0 25px 0 51px
}

.similar-doctor-list-book {}

.similar-doctor-list-book,
.hospital-doctor-list-book {
    background-color: #fff;
    border: 1px solid #f8525f;
    color: #f8525f;
    text-decoration: none;
    display: inline-block;
    font-family: roboto, sans-serif;
    font-size: 12px;
    margin: 3px auto 12px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.similar-doctor-list-book:hover {
    color: #fff;
    background: #f8525f;
    text-decoration: none
}

.hospital-doctor-list-book:hover {
    color: #fff;
    background: #f8525f;
    text-decoration: none
}

.similar-doctor-data-last {
    border-right: none
}

.view-profile {
    font-size: 18px;
    font-family: roboto, sans-serif;
    color: #00c8cf;
    text-decoration: none;
    text-transform: uppercase
}

.similar-doctor-data a {
    text-decoration: none
}

.view-profile:hover {
    color: #00c8cf;
    text-decoration: underline
}

#close-doctor-practice-map {
    float: right
}

#close-doctor-practice-map i:hover {
    color: #000
}

.contact-form-icon {
    position: absolute;
    top: 35px;
    left: 10px
}

.contact-form-icon2 {
    font-size: 26px;
    color: #00c7ce;
    margin-right: 10px
}

.list-unstyled.contact-list span {
    display: inline-block;
    margin-top: 8px
}

.contact-list li {
    font-family: roboto, sans-serif;
    padding-top: -10px;
    margin-bottom: 10px;
    padding-left: 45px;
    position: relative
}

.contact-list li>i {
    left: 0;
    position: absolute;
    top: 4px
}

.member-area-dropdown {
    margin-right: 50px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px 10px
}

.editAboutDiv,
.editEducationDiv,
.editEducationDiv54,
.editSpecDiv,
.editExperienceDiv,
.editExperienceDiv2,
.editAwardsDiv,
.editAwardsDiv2,
.editMembershipDiv,
.editMembershipDiv2,
.editServicesDiv,
.editServicesDiv2,
.editLocationDiv {
    display: none
}

.editAboutDiv form,
.editEducationDiv form,
.editEducationDiv54 form,
.editEducationDiv542 form,
.editEducationDiv2 form,
.editExperienceDiv form,
.editExperienceDiv2 form,
.editAwardsDiv form,
.editAwardsDiv2 form,
.editMembershipDiv form,
.editMembershipDiv2 form,
.editServicesDiv form,
.editServicesDiv2 form {
    margin: 10px 25px 10px 48px
}

.editEducationDiv form,
.editEducationDiv54 form,
.editEducationDiv542 form,
.editEducationDiv2 form,
.editExperienceDiv form,
.editExperienceDiv2 form,
.editMembershipDiv form,
.editMembershipDiv2 form,
.editServicesDiv form,
.editServicesDiv2 form,
.editAwardsDiv form {
    display: block;
    max-width: 300px
}

.editAboutDiv form textarea,
.editAwardsDiv form textarea,
.editAwardsDiv2 form textarea {
    display: block;
    padding: 5px;
    max-width: 300px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    outline: none
}

.editAwardsDiv form textarea,
.editAwardsDiv2 form textarea {
    max-width: 300px
}

.editEducationDiv input[type=text],
.editEducationDiv2 input[type=text],
.editEducationDiv54 input[type=text],
.editEducationDiv542 input[type=text],
.editExperienceDiv input[type=text],
.editExperienceDiv2 input[type=text],
.editAwardsDiv input[type=text],
.editAwardsDiv2 input[type=text],
.editMembershipDiv input[type=text],
.editMembershipDiv2 input[type=text],
.editServicesDiv input[type=text],
.editServicesDiv2 input[type=text] {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 8px;
    outline: none
}

.editServicesDiv input[type=number],
.editServicesDiv2 input[type=number] {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 8px;
    outline: none
}

.editEducationDiv select,
.editEducationDiv2 select,
.editEducationDiv54 select,
.editEducationDiv542 select,
.editExperienceDiv select,
.editExperienceDiv2 select,
.editAwardsDiv select,
.editAwardsDiv2 select,
.editMembershipDiv select,
.editMembershipDiv2 select,
.editServicesDiv select,
.editServicesDiv2 select {
    display: block;
    width: 300px;
    height: auto !important;
    margin-bottom: 10px;
    padding: 0 8px;
    outline: none
}

.editEducationDiv select,
.editEducationDiv2 select,
.editAwardsDiv select {
    display: block;
    width: 100px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 8px;
    outline: none
}

.defaultShowEducation54 ul li {
    width: 32%;
    float: left;
    background-image: url(../images/list-style-type.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left 5px;
    height: 50px
}

.btn-close-default {
    width: 70px;
    height: 35px;
    line-height: 35px;
    background-color: #b0b0b0;
    border: none;
    outline: none;
    color: #fff !important;
    display: block;
    float: right;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0 !important
}

.btn-close-default:hover {
    text-decoration: none;
    color: #fff !important
}

.multipleSelectProfile {
    width: 800px
}

.firstbox,
.secondbox {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 20px
}

.buttonsDiv {
    margin-top: 20px;
    margin-bottom: 20px
}

.secondbox {}

#btnLeft,
#btnRight {
    width: 50px;
    height: 35px;
    display: block
}

#btnLeft {
    margin-bottom: 10px
}

.closeSpecialization {
    margin-right: 25px !important
}

.editExperienceDiv select {
    width: 142px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 0 8px;
    outline: none
}

.toYear {
    margin-right: 0 !important
}

.editLocationDiv input[type=text] {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 8px;
    outline: none
}

.closeLocation {
    width: 70px;
    height: 35px;
    line-height: 35px;
    background-color: #9e9f9e;
    border: none;
    outline: none;
    color: #fff !important;
    display: block;
    float: right;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0 !important
}

.closeLocation:hover,
.closeLocation:focus {
    color: #fff;
    text-decoration: none
}

.locationSave {
    width: 70px;
    height: 35px;
    background-color: #f8525f;
    border: none;
    outline: none;
    color: #fff;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px
}

#map-canvas {
    height: 250px;
    width: 100%;
    margin: 20px 0;
    padding: 0
}

.availability_table {
    width: 100%;
    margin: 10px 0 20px;
    box-shadow: 0 0 10px #ccc
}

.availability_table thead tr {
    background-color: #00c7ce;
    height: 40px
}

.availability_table thead tr th {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 5px;
    font-weight: 400
}

.availability_table tbody tr {
    height: 50px
}

.availability_table tbody tr:nth-child(odd) {
    background-color: #f9f9f9
}

.availability_table tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

.availability_table tbody tr td {
    text-align: center
}

.availability_table tbody tr td select {
    outline: none;
    border: 1px solid #ccc;
    padding: 3px
}

.availability_table tbody tr td a i {
    padding-right: 50px
}

.for-doctor-header {
    width: 100%;
    height: 90px;
    background-color: #ededed;
    margin: 0;
    padding: 0
}

.for-doctor-logo {
    margin: 15px 0 0
}

.for-doctor-menu {
    height: 90px;
    line-height: 90px;
    padding: 0 20px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-family: roboto, sans-serif
}

.for-doctor-menu:hover {
    background-color: #f7505e;
    color: #fff;
    text-decoration: none
}

.for-doctor-overview {
    margin-left: 40px
}

.for-doctor-signupbtn {
    background-color: #dcdcdc;
    border-right: 1px solid #cfcfcf;
    padding: 10px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px 0 0;
    font-family: roboto, sans-serif
}

.for-doctor-login {
    background-color: #dcdcdc;
    padding: 10px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px 0 0;
    font-family: roboto, sans-serif
}

.for-doctor-signupbtn:hover,
.for-doctor-login:hover {
    color: #fff;
    background-color: #f7505e;
    text-decoration: none
}

.for-doctor-banner {
    background-position: center center;
    background-size: cover;
    margin: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #14ccd3
}

.for-doctor-banner-image {
    width: 85%;
    height: auto
}

.for-doctor-text h1 {
    color: #fff;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 68px 0 30px
}

.for-doctor-text p {
    color: #fff;
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px
}

.for-doctor-text a {
    background-color: #f7505e;
    color: #fff;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .5s ease
}

.for-doctor-text a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #f7505e
}

.first-section {
    margin: 0;
    padding: 20px 0 0
}

.first-section h2 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 30px
}

.first-section p {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #13cbd2;
    margin-bottom: 20px
}

.second-section {
    margin: 0;
    padding: 20px 0 0;
    background-color: #fa3c4b
}

.second-section h2 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff
}

.third-section {
    margin: 0;
    padding: 40px 0 20px;
    background-color: #f6f6f6
}

.third-section h2 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #585757;
    padding-top: 40px
}

.third-section ul {
    list-style: none
}

.third-section ul li {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #585757;
    margin-top: 20px
}

.third-section ul li {
    list-style-image: url(../images/app-management-bullet.png)
}

.forth-section {
    margin: 0;
    padding: 40px 0;
    background-color: #f6f6f6
}

.forth-section-rm {
    height: 500px;
    background-image: url(../images/forth-section-rm.png);
    background-repeat: no-repeat
}

.forth-section-emr {
    height: 500px;
    background-image: url(../images/forth-section-emr.png);
    background-repeat: no-repeat
}

.forth-section-rm h3 {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #96529e;
    text-transform: uppercase;
    padding: 110px 0 0 80px
}

.forth-section-rm ul {
    padding: 0 70px 0 45px;
    list-style-image: url(../images/red-bullet.png)
}

.forth-section-rm ul li {
    font-family: roboto, sans-serif;
    font-size: 13px;
    color: #000;
    margin-top: 20px;
    padding-left: 10px
}

.forth-section-emr h3 {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: #96529e;
    text-transform: uppercase;
    padding: 110px 0 0 50px
}

.forth-section-emr ul {
    padding: 0 70px 0 45px;
    list-style-image: url(../images/red-bullet.png)
}

.forth-section-emr ul li {
    font-family: roboto, sans-serif;
    font-size: 13px;
    color: #000;
    margin-top: 20px;
    padding-left: 10px
}

.fifth-section {
    margin: 0;
    padding: 40px 0;
    background-color: #00c8cf
}

.fifth-section h3 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    padding: 22px 0 0 60px
}

.fifth-section ul {
    padding: 0 0 0 50px;
    list-style: none
}

.fifth-section ul li {
    list-style-image: url(../images/additional-benifit-bullet.png)
}

.fifth-section ul li {
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    padding-left: 10px
}

.sixth-section {
    margin: 0;
    padding: 40px 0;
    background-color: #f6f6f6
}

.sixth-section h2 {
    font-family: roboto, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #585757
}

.seventh-section {
    margin: 0;
    padding: 0
}

.seventh-section-one {
    background-color: #61b747;
    padding-top: 30px;
    padding-bottom: 30px
}

.seventh-section-one h2 {
    color: #fff;
    text-align: center
}

.seventh-section-one h2 a {
    color: #fff;
    text-decoration: none
}

.seventh-section-two {
    background-color: #80c042;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center
}

.seventh-section-two h2 a {
    color: #000;
    text-decoration: none;
    text-align: center
}

.fd-footer {
    margin: 0;
    padding: 0
}

.fd-footer-img {
    width: 250px;
    height: 120px;
    margin-top: -90px
}

.fd-footer-down {
    margin: -30px 0 0;
    padding: 0 0 20px;
    background-color: #232525
}

.fd-footer-down h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-size: 20px
}

.fd-footer-down p {
    color: #fff;
    font-family: roboto, sans-serif;
    font-size: 13px
}

.hosp-location-address {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding-left: 46px
}

.banner-small-images {
    position: absolute;
    right: 0;
    z-index: 999
}

.banner-small-images li {
    cursor: pointer;
    height: 100px !important
}

.banner-small-images li img {
    width: 100% !important
}

.remove-hosp-image {
    background: #f8525f none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 0;
    width: 25px;
    z-index: 999
}

.remove-hosp-image i {
    color: #fff
}

.hosp-profile-list li {
    width: 32% !important
}

.profile-app-btn .btn-cyan-defult {
    min-width: 245px;
    text-align: center
}

.profile-app-btn .btn-contact-number {
    min-width: 245px;
    text-align: center
}

.profile-app-btn {
    text-align: left
}

.btn-search-appos .btn-cyan-defult {
    min-width: 220px;
    font-size: 15px
}

.btn-search-appos .btn-contact-number {
    min-width: 220px;
    font-size: 15px
}

.custom-container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

.btn-search-appos .user-nav {
    float: none !important
}

.btn-search-appos .nav.user-nav>li {
    float: none !important
}

.search-meta-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #f7f9f9
}

.search-meta-wrapper h3 {
    font-size: 25px;
    font-family: roboto, sans-serif;
    margin-top: 0;
    color: #006;
    font-weight: 400;
    text-transform: capitalize
}

.search-meta-wrapper h3 span {
    text-transform: lowercase
}

.search-meta-wrapper p {
    font-size: 16px;
    position: relative
}

#stiky_bar {
    transition: all .1s;
    position: relative;
    width: 100%
}