html {
    position: relative;
    min-height: 100%
}

body {
    height: 100%
}

.site-footer {}

@media only screen and (max-width:480px) {
    .site-footer {
        position: relative
    }
    body {
        margin-bottom: 0
    }
}